 a{
    color:white;
    text-decoration: none;
}

h1 {
    color: #fff;
}

p{
    margin:0.5rem 0;
}

/* img{
    width: 100%;
} */ 


.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/a6fede83-60f5-4588-93a1-b82b099db1d0/1433665a-7a7f-4b2e-867e-ee0433a00554/IN-en-20200720-popsignuptwoweeks-perspective_alpha_website_small.jpg) no-repeat center center/cover;
}


.showcase-top{
    z-index: 2;
    position: relative;
    height: 90px;
}

.showcase-top img{
    width: 170px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}

.showcase-top .log{
    text-align: center;
    position: absolute;
    top:50%;
    right:0;
    transform: translate(-50%,-50%);
}

.showcase-content{
    z-index: 2;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}

.showcase-content h1{
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem 0;
}

.showcase-content p{
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}

.showcase::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.6);
    box-shadow: inset 120px 100px 250px #000000,inset -120px -100px 250px #000000;
}

.btn{
    display: inline-block;
    background:#e50914;
    color: white;
    padding: .4rem 1.3rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: .5rem;
    outline:none;
    box-shadow: 0 1px 0 rgba(0,0,0,.45);
    border-radius: 2px;
}

.btn:hover{
    opacity: .9;
}

.btn-rounded{
    border-radius: 5px;
}

.btn-xl{
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}

@media(max-width:960px){
    .showcase{
        height: 100vh;
    }

    /* .hide-sm{
        display: none;
    } */

    .showcase-top img{
        top: 30%;
        left: 5%;
        transform: translate(0);
    }

    .showcase-content h1{
        font-size: 3.7rem;
        line-height: 1;
    }

    .showcase-content p{
        font-size: 1.5rem;
    }

    
    .btn-xl{
        font-size: 1.5rem;
        padding: 1.4rem 2rem ;
    }
}

@media(max-width: 700px) {
    .showcase::after{
    box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
    }
}



@media(max-width: 450px){
    .showcase-top img{
        width: 100px;
    }
    .showcase::after{
        box-shadow: inset 10px 10px 50px #000000, inset -10px -10px 50px #000000;
    }
    .btn-rounded{
        border-radius: 2px;
    }
    .btn{
        padding: .4rem 1rem;
        margin-right: .3rem;
        box-shadow: 0 .5px 0 rgba(0,0,0,.25);
    }
    .btn-xl{
        font-size: 1.3rem;
        padding: 1rem 1.5rem;
    }
}