.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 40px;
  z-index: 1;

  /* Animations  */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: #111;
  opacity: 0.88;
  z-index: 3;
}

.nav_logo {
  width: 100px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

/* .searchbar {
    display: flex;
    position: absolute;
    right: 110px;
}

.searchbar > input[type=text] {
 position: relative;
 padding: 5px;
 border: none;
 border-bottom-left-radius: 10px;
 border-top-left-radius: 10px;
 outline: none;
 font-size: 16px;
}

.searchbar > button {
    font-size: 10px;
    padding: 4px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
 */
