.row {
  color: #fff;
  padding-bottom: 20px;
}

.row > h2 {
  margin: 0 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
}

.row_posters::-webkit-scrollbar {
  display: none !important;
}

.movie_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row_poster {
  max-width: 300px;
  object-fit: contain;
  margin: 15px;
  max-height: 200px;
  transition: transform 250ms;
}

.row_movie_title {
  font-size: 20px;
  font-weight: 600;
  z-index: 1;
}

.row_poster:hover {
  transform: scale(1.1);
}

.row_posterLarge {
  max-height: 300px;
}

.row_posterLarge:hover {
  transform: scale(1.1);
}

.feature {
  padding: 50px 50px 0 50px;
  display: flex;
  flex-wrap: wrap;
}

.feature > * {
  flex: 1 1 50%;
}

.right {
  max-height: 70vh;
  text-align: end;
  overflow: hidden;
  position: relative;
}

.right > img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.poster-fadeleft {
  position: absolute;
  top: 0;
  height: 100%;
  width: 35%;
  background-image: linear-gradient(
    90deg,
    #111,
    rgba(37, 37, 37, 0.61),
    transparent
  );
}

.left {
  padding: 0 50px 0 0;
}

.left > div {
  margin-top: 12px;
  margin-bottom: 6px;
}

.tagline {
  color: #d72323;
  margin-top: 10px;
}

.movie-genre > p > span:nth-child(even),
.movie-lang > p > span:nth-child(even) {
  margin: 10px;
}

.movie-genre > p > span,
.movie-lang > p > span {
  background-color: #222;
  color: #3d5af1;
  padding: 3px 12px;
  border-radius: 3px;
  font-weight: 100;
}

.movie-meta,
.movie-money {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.movie-meta > p:nth-child(even) {
  margin-left: 20px;
  margin-right: 20px;
}

.movie-meta > p:nth-child(even)::after {
  content: "";
  position: absolute;
  top: 5px;
  background: dimgray;
  height: 80%;
  width: 3px;
  margin-left: 10px;
}
.movie-meta > p:nth-child(even)::before {
  content: "";
  position: absolute;
  top: 5px;
  background: dimgray;
  height: 80%;
  width: 3px;
  margin-left: -10px;
}

.rating {
  background-color: #2cb978;
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 2.4;
  border-radius: 50px;
  margin: 0;
}

.movie-plot {
  margin: 40px 0 30px;
}

.play_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.play_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

@media screen and (max-width: 960px) {
  .feature > * {
    flex: 1 1 100%;
  }

  .right {
    order: -1;
    max-height: 50vh;
  }

  .poster-fadeleft {
    bottom: 0;
    top: unset;
    width: 100%;
    height: 35%;
    background-image: linear-gradient(
      0deg,
      #111,
      rgba(37, 37, 37, 0.61),
      transparent
    );
  }

  .left {
    padding: 0 0 0 0;
  }

  .right > img {
    object-fit: cover;
  }
}
@media screen and (max-width: 600px) {
  .feature {
    padding: 20px 20px 0 20px;
  }

  .play_button {
    margin: 5px;
  }
}
