.row {
  color: #fff;
  padding-bottom: 20px;
}

.row > h2 {
  margin: 0 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
}

.row_posters::-webkit-scrollbar {
  display: none !important;
}

.row_search_posters {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.row_poster {
  max-width: 300px;
  object-fit: contain;
  margin: 15px;
  max-height: 200px;
  transition: transform 250ms;
}

.row_poster:hover {
  transform: scale(1.14);
}

.row_posterLarge {
  max-height: 300px;
}

.row_posterLarge:hover {
  transform: scale(1.1);
}

.row_search {
  padding-top: 60px;
}
